body {
    font-family: 'Martel', serif;
    color: #FAE50C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Martel";
    font-size: 30pt;
    text-align: center;
}

h2 {
    margin: .1em;
}

header {
    text-align: center
}

/*Hero Section*/
#hero,
footer {
    color: #FAE50C;
    background-color: #2562FA;
    border: 2px solid #FAE50C;
    text-align: center;
    padding: 10px;
}

#hero_img {
    width: 300px;
}

/* Video */
iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
}
/*Bio Section*/
#bio {
    text-align: center;
    align-items:center;
}

.liam{
}
/* hobbies */
#hobbies {
    border: 2px solid #FAE50C;
    background-color: #6432FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#hobbies ul li:nth-child(even) {
    color: #FAE50C;
}

/*photo gallery*/
#gallery {
    border: 2px solid #FAE50C;
    background-color: #6432FA;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

img:hover{
    transform:scale(1.1);
}

#gallery figure {
    text-align: center;
}

/*Literature*/
#lit {
    background-color: #6432FA;
    border: 2px solid #FAE50C;
    margin-bottom: 2rem;
}

/*dropcaps*/

#lit div p:first-letter {
    color: #FAE50C;
    float: left;
    font-size: 3em;
    padding: .25em;
    line-height: .65;
    border: 1px solid black;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
}

/*large screen size*/
@media screen and (min-width: 100em){
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/* Contact Form */

#formElements {
    display:grid;
    row-gap:.5em;
}

#contact{
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #FAE50C;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:2rem;
}

legend {
    background-color: #FAE50C;
    color: #2562FA;
    padding:.5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color: #2562FA;
    color: #FAE50C;
    border:1px solid #FAE50C;
    max-width:400px;
    width:50%;
    justify-self: center;
}

