body {
    font-family: 'Martel', serif;
    background-color:#6432FA;
    color:#FAE50C;
}

h2,h3,h4,h5,h6{
    font-family:"Martel";
    font-size:30pt;
    text-align:center;
}
h1{
    font-size:20pt;
}

header{
    text-align:center
}
/*Hero Section*/
#hero,footer{
    color:#FA973E;
    background-color:#2562FA;
    border:2px solid #FA973E;
    text-align:center;
    padding:10px;
}
#hero_img{
    width:300px;
}
/*Bio Section*/
#bio{
    text-align:center;
}
/* hobbies */
#hobbies ul li:nth-child(even){
    color:#FAE50C;
}
/*photo gallery*/
#gallery{
    border: 2px solid #FA973E;
}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align:center;
}