body {
    font-family: 'Martel', serif;
    background-color:#6432FA;
    color:#FAE50C;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Martel";
    font-size:30pt;
    text-align:center;
}

header{
    text-align:center
}
/*Hero Section*/
#hero,footer{
    color:#FA973E;
    background-color:#2562FA;
    border:2px solid #FA973E;
    text-align:center;
    padding:10px;
}
#hero_img{
    width:300px;
}
/*Bio Section*/
#bio{
    text-align:center;
}
/* hobbies */
#hobbies ul li:nth-child(even){
    color:#FAE50C;
}
/*photo gallery*/
#gallery{
    border: 2px solid #FA973E;
}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align:center;
}
/*Literature*/
#lit{
    border:2px solid #FA973E;
    margin-bottom:2rem;
}
/*dropcaps*/

#lit div p:first-letter {
    color: #FA973E;
    float:left;
    font-size:3em;
    padding:.25em;
    line-height:.65;
    border:1px solid black:
}